<h1 class="page-header jumbotron">{{nomeAlbum}}</h1>
<div ng-repeat="foto in fotos">
	<div id="links">
		<div class="col-md-2 col-xs-3">			
			<a class="thumbnail" ng-href="{{foto.urlImagem}}" data-gallery>
				<div style="height: auto; width: 50%; overflow: hidden;">
					<div ng-if="foto.ajustarThumbnail == 'true'">
						<img style="margin-left: -100px; width: 100%; height: auto;" ng-src="{{foto.urlThumbnail}}" />
					</div>
					<div ng-if="foto.ajustarThumbnail == 'false'">
						<img style="width: 100%; height: auto;" ng-src="{{foto.urlThumbnail}}" />
					</div>
				</div>
			</a>
		</div>
	</div>
</div>